.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.login h2{
text-align: center;
}
.input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    margin: 10px;
}
.button {
 
    background-color: rgb(66, 92, 240);
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    border-radius: 40px;
    height: 40px;
    margin-top: 10px;
}