/* MovieDetail.css */

.likeListBtn {
    color: black !important;
    padding: 6px !important;
    border-radius: 8px !important;
    border: 1px solid lightgrey !important;
    margin-right: 20px !important;
}

.likeBtn {
    color: black !important;
    padding: 6px !important;
    border-radius: 8px !important;
    border: 1px solid lightgrey !important;
    margin-right: 20px !important;
}

a{
    color: black !important
}